.contacts {
    padding: 30px 0;
    
    display: grid;
    align-items: center;
    
    @media (min-width: 540px) {
        background-image: url("../img/contacts-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
            background-image: url("../img/contacts-bg@2x.jpg");
        }
    }
}

.contacts__wrapper {
    display: grid;

    @media (min-width: 1200px) {
        justify-content: end;
    }

    @media (min-width: 539px) and (max-width: 1199px) {
        justify-content: center;
    }
}

.contacts__form {
    display: grid;
    row-gap: 30px;
    
    @media (max-width: 539px) {
        width: 100%;
    }
    
    @media (min-width: 540px) {
        background-color: $form;
        border-radius: 10px;
        width: 400px;
        padding: 45px;
    }
}

.contacts__label {
    display: block;

    @media (max-width: 539px) {
        color: $text-black;
    }
    
    @media (min-width: 540px) {
        color: $text-white;
    }
    
}

.contacts__input {
    display: block;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    
    &::placeholder {
        color: rgba(#fff, .7);
    }
    
    @media (max-width: 539px) {
        border: 1px solid rgba(#000, .3);
        color: $text-black;
        
        &::placeholder {
            color: rgba(#000, .7);
        }
    }

    @media (min-width: 540px) {
        color: $text-white;
        border: 1px solid rgba(#fff, .3);
    }
}

.contacts__submit {
    display: block;
    padding: 10px 15px;
    background-color: transparent;
    
    @media (max-width: 539px) {
        border: 1px solid rgba(#000, .3);
        color: $text-black;
    }

    @media (min-width: 540px) {
        border: 1px solid rgba(#fff, .3);
        color: $text-white;
    }
}