@import "./colors.scss";
@import "./scaffolding.scss";
@import "./blocks/header.scss";
@import "./blocks/menu.scss";
@import "./blocks/footer.scss";
@import "./blocks/main.scss";
@import "./blocks/quote.scss";
@import "./blocks/portfolio.scss";
@import "./blocks/price.scss";
@import "./blocks/social.scss";
@import "./blocks/advantages.scss";
@import "./blocks/about.scss";
@import "./blocks/blog.scss";
@import "./blocks/contacts.scss";
@import "./blocks/page-blog.scss";
@import "./blocks/article.scss";